<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	 <link rel="stylesheet" href="css/bootstrap.min.css">
	 <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active bg1">
    	<div class="head">
    		<img src="img/skill.jpg">
   		<ul class="link">
   			<a href="#"><li>Home</li></a>
   			<a href="#"><li>About</li></a>
   			<a href="#"><li>Contact</li></a>
   			<a href="#"><li>Services</li></a>
   			<li><button type="button" class="btn btn-default btn-xs donate"><a href="/signin">Sign in</a></button></li>
   		</ul>
    	</div>  
        <div class="water">
        	<h1>Showcase Your Vocational<br> Skills on this Platform and<br> Get Employed</h1>
            <p class="text">A network of people who neccesarily do not depend on white collar<br> jobs for survival</p>
        </div>
    </div>
    <div class="item bg2">
    	<div class="head">
    		<img src="img/skill.jpg">
   		<ul class="link">
   			<a href="#"><li>Home</li></a>
   			<a href="#"><a href="#"><li>About</li></a>
   			<a href="#"><li>Contact</li></a>
   			<a href="#"><li>Services</li></a>
   			<li><button type="button" class="btn btn-default btn-xs donate"><a href="/signin">Sign in</a></button></li>
   		</ul>
    	</div>
        <div class="water text-center">
        	<h1>SkillHub got you covered, you do not have to deal<br> with unemployement<br> at any point</h1>
        	<p class="text">unlock your potentials, skills and talents by being a part<br> of this network</p>
        </div>
    </div>

   <div class="item bg3">
   		<div class="head">
    		<img src="img/skill.jpg">
   		<ul class="link">
   			<a href="#"><li>Home</li></a>
   			<a href="#"><li>About</li></a>
   			<a href="#"><li>Contact</li></a>
   			<a href="#"><li>Services</li></a>
   			<li><button type="button" class="btn btn-default btn-xs donate"><a href="/signin">Sign in</a></button></li>
   		</ul>
    	</div>
        <div class="water">
        	<h1>Vocational Skills are very<br> important to possess,they<br> earn you money</h1>
        	<p class="text">skillhub is a social platform every youth that possess a<br> skill should be</p>

        </div>
    </div>
    ...
  </div>


</div>

<div class="container text-center">
  		<h1 class="welcome">Welcome to SkillHub</h1>
    </div>
  		<div class="row words">
  		    <div class="col-md-6 col-xs-12 col-sm-6">
            <p>
              SkillHub is a platform majorly for youths to
              showcase/tell the world<br> the skill they have and they are willing to offer in exchange for<br> money. Having Skills in one way
              or the other reduces poverty and<br> better equip young people to find decent jobs. It triggers a
              process<br> of employment and self-esteem that benefits everyone, thereby<br> reducing unemployement. Not a member?
              <button type="button" class="btn btn-default btn-xs donate"><a href="/signup">Sign Up</a></button>
            </p>
          </div>
         <div class="col-md-6 col-xs-12 col-sm-6 video">
          <a href="#"><img src="img/carousel_image_1.jpg" id="carou_image" onclick="clickMe()"></a>
  		    <div class="col-md-6 col-xs-12 col-sm-6 video" id="vid_controls" style="display: none;">
  		      	<video controls>
  		    		<source src="video.mp4" type="video/mp4">
  		    	</video>
  	  		</div>
  	    </div>
  	</div>
<div class ="events text-center">
  <h2>Our Events</h2>
  <div class="row">
  <div class="col-xs-12 col-md-4">
    <span class="glyphicon glyphicon-bookmark act" aria-hidden="true"></span><br>
    <p>SkillHub</p>
    <p>SkillHub is a network of skilled people showcasing/advertising their skills for employers so as to be employed . If you already have account with us, you can signin here</p><p><button type="button" class="btn btn-default btn-xs more">SIGNIN</button></p>
  </div>
  <div class="col-xs-12 col-md-4">
    <span class="glyphicon glyphicon-bookmark inact" aria-hidden="true"></span>
    <p>Be the Employer</p>
    <p>Looking for people with the right skill, you are in the right place, To view all skills and hire that person with that particular skill you have been looking for, click on the hire link below</p><p><a href="/skills"><button type="button" class="btn btn-default btn-xs moreb">HIRE</button></a></p>
  </div>
  <div class="col-xs-12 col-md-4">.
    <span class="glyphicon glyphicon-bookmark inact" aria-hidden="true"></span><br>
    <p>Why SKillHub</p>
    <p>Contemplating whether or not to join SkillHub, check the link below for full details on the reason you should join the SkillHub network </p><p><button type="button" class="btn btn-default btn-xs moreb">MORE</button></p>
  </div>
</div>

</div>



    <div class="footer">
  <div class="row">
  <div class="col-xs-12 col-md-2">

  </div>
  <div class="col-xs-12 col-md-8 foot">
    <div class="shift">
      <a href="#" class="footlink">Home</a>
      <a href="#" class="footlink">About us</a>
      <a href="#" class="footlink">Product</a>
      <a href="#" class="footlink">Blog</a>
      <a href="#" class="footlink">Events</a>
      <a href="#" class="footlink">Gallery</a>
      <a href="#" class="footlink">Contact us</a>
    </div>

  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      Follow Us
      <p class="logo">
        <img src="img/facebook1.JPG">
        <img src="img/twitter1.JPG">
        <img src="img/google.JPG">
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>News letter</p>
      <div class="input-group">
        <input type="text" class="form-control boxdark" placeholder="Enter your mail" aria-describedby="basic-addon2">
        <span class="input-group-addon boxred"  id="basic-addon2"><a href="#">Subscribe</a></span>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 right">
      <p class="contact">Contact Us</p>
      <p class="address">Address<br> New Street<br> Reach us here anytime</p>
    </div>
  </div>

  <hr>

  <p class="last">My Charity &copy 2013 Alright Reserved</p>

   </div>
  <div class="col-xs-12 col-md-2">

  </div>
</div>
</div>

 <script src="js/jquery.js"></script>

<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	function clickMe(){
	var vidControl = document.getElementById('vid_controls');
	var carouImage = document.getElementById('carou_image');
	carouImage.style.display = 'none';
	vidControl.style.display = 'block';
}
</script>
</body>
</html>
